.container {
  margin: 20px auto;
  width: 50%;
  padding: 20px;
  border: 1px dotted black;
}

h1 {
  text-align: center;
  font: message-box;
  font-size: 40pt;
}

.container form {
  text-align: center;
}

.entry_field {
  width: 90%;
  padding: 10px;
  margin: 10px;
  font: message-box;
  font-size: 30pt;
  text-align: center;
}

.entry_button {
  width: 90%;
  padding: 10px;
  margin: 10px;  
}

.results {
  margin: 20px auto;
  text-align: center;
  width: 120px;
  padding: 20px;
  border: 1px dotted black;
}
