<div class="container">
  <h1>Anagrammer</h1>
  <form action="/" method="post">
    Your word:
    <input type="text" name="user_input">
    <input type="submit" value="Anagram it!">
  </form>

</div>

<div class="results">
  <% if @words %>
    <% @words.each do |word| %>
      <p><%= word %></p>
    <% end %>
  <% end %>
</div>
